body {
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
}

section {
    width: 30em;
}

img {
    /* position: absolute; */
    width: 100%;
    /* height: 100%; */
    padding-top: 0.6em;
}

p {
    font-weight: 600;
}

.Titre1 {
    color: #1c93ef;
    font-family: sans-serif;
    font-weight: 500;
}

.tred,
.tbleu {
    padding: 0.2em;
    color: white;
}

.tbleu {
    background-color: #1c93ee;
}

.tred {
    background-color: #c12051;
}

#boite1 {
    position: relative;
    padding-top: 0.6em;
    /* height: 240px; */
    /* overflow: hidden; */
}
#boite2{
    position: relative;
    padding-top: 0.6em;
    /* height: 240px; */
    /* overflow: hidden; */
}
#boite3{
    position: relative;
    padding-top: 0.6em;
    /* height: 240px; */
    /* overflow: hidden; */
}
.image{
    position: absolute;
    bottom: 0em;
}

/* hr {
	display: block;
	clear: both;
	height: 0;
	margin: 40px 0 80px;
	padding: 0;
	border: 0;
	font-family: arial;
	text-align: center;
	font-size: 60px;
	line-height: 1;
}

hr:after {
	content: "\272D \273D \274D";
	height: 0;			
	letter-spacing: 1em;
	color: black;
} */
